html, body {
  height: 100%;
}

body {
  font-family: 'Raleway';
  font-size: 14px;
  margin: 0;
  padding-top: 0.1px;

  a {
    color: $mdc-theme-secondary;
  }
}

.main {
  display: flex;
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-background;

  .cp-body__main {
    padding-top: 100px;
  }

  .cp-body__container {
    text-align: center;
  }


  .cp-body__button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;

    .button-container button {
      margin: 3px;
    }
  }
}
